.one {
	background-color: red;

	/*pacity: 0.6;*/
}
.row {
	color: white;
	text-align: center;
	font-size: : 10px;
}
.o {
	background-color: 	#E52B50;
}

.two {
	background-color: 	#07e061;
}
.t1{
	background-color: #50C878;
}
.three {
	background-color: 	#FF4500;
}

.t2 {
		background-color: #FF7F50;
}
.s1{
	background-color: grey;
}
.s2{
	background-color: grey;
}
.s3{
	background-color: grey;
}

#pi {
	border: 0px;
}

#c33 {
	height: 20px;
}

.relative {
  position: relative;
}

.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}
.absolute-center{
	padding-top: 23px;
}

p {
	
  font-size: 0.7rem;
  margin-top: -20px;
}

.q{
	height: 10px;
}
#myChart{
	height: 10px;
}

.graph-container  canvas {

     height: 0.8px; /* Example... */
 }
.tm2{
	background-color: #07e061;
	
	
}
.tm1{
	background-color: red;
	
	
}

#current_time1{
	color: white;
}
.tm3{
	background-color:#FF4500;
}
.g{
	background-color: #54504f;
}
.r {
	background-color: green;
}
.custom-control-label::before {
    background-color: green;
}
.custom-control-label2::before {
    background-color: blue;
}
li::before {
 


  /* or whatever color you prefer */
}
 
ul {
    text-align: center;
    list-style-position: inside;
     

}
li {
    font-size: 25px;
    color: blue;
}
span {
    font-size: 18px;
    color:white; 
}
#l1 {
    font-size: 25px;
    color: green;
}
#l11 {
    font-size: 18px;
    color:white; 
}
#l1 {
    font-size: 25px;
    color: green;
}
#l22 {
    font-size: 18px;
    color:white; 
}
#w{
height: 50px;
}

h3{
	word-spacing: 30px;
}
.p1{
	word-spacing: 30px;
}
#b1 {
	margin-left: 700px;
}