.one {
	background-color: red;
	/*pacity: 0.6;*/
}
.card {
	color: white;
	text-align: center;
}
.o {
	background-color: 	#E52B50;
}

.two {
	background-color: 	#3FFF00;
}
.t1{
	background-color: #50C878;
}
.three {
	background-color: 	#FF4500;
}

.t2 {
		background-color: #FF7F50;
}
.s1{
	background-color: grey;
}
.s2{
	background-color: grey;
}
.s3{
	background-color: grey;
}
#pi {
	border: 0px;
}

#c33 {
	height: 20px;
}

.relative {
  position: relative;
}

.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

p {
  font-size: 1rem;
  margin-top: -20px;
}




